@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Clash Display';
    src: url('assets/fonts/ClashDisplay-Variable.woff2') format('woff2'),
         url('assets/fonts/ClashDisplay-Variable.woff') format('woff');
    font-display: swap;
  }

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('assets/fonts/PlusJakartaSans-Variable.woff2') format('woff2'),
         url('assets/fonts/PlusJakartaSans-Variable.woff') format('woff');
    font-display: swap;
  }

h1 {
  font-family: 'Clash Display', sans-serif;
}

h2 {
  font-family: 'Clash Display', sans-serif;
}

h3 {
  font-family: 'Clash Display', sans-serif;
}

p {
    font-family: "Plus Jakarta Sans", sans-serif;
}

li {
  font-family: 'Clash Display', sans-serif;
    font-weight: 600;
    color: #2D2D2D;
}

.blurry-bg{
  background: #eeeeeebf;
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
}

.clash {
  font-family: 'Clash Display', sans-serif;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotating-image {
    animation: spin 5s linear infinite; /* Adjust animation duration and timing as needed */
  }

  .pretty {
    text-wrap: pretty;
  }

  .balance {
    text-wrap: balance;
  }

  .nav-button {
    font-size: 18px;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  .nav-button:focus,
  .nav-button:hover {
    color: #fff;
  }
  
  .nav-button:focus:after,
  .nav-button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .nav-button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #D00000;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

  .page-transition-in {
    z-index: 9995;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #eeeeee; /* Color for the in transition */
    transform-origin: left;
  }
  
  .page-transition-out {
    z-index: 9995;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #D00000; /* Color for the out transition */
    transform-origin: left;
  }

  /* From Uiverse.io by gharsh11032000 */ 
.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 12px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 8px;
  font-weight: 600;
  color: #2d2d2d;
  box-shadow: 0 0 0 2px #2D2D2D;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #2D2D2D;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #2D2D2D;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #EEEEEE;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #EEEEEE;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #2D2D2D;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

.header-box{
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);


  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.05), 0px 16px 16px 0px rgba(0, 0, 0, 0.04), 0px 36px 22px 0px rgba(0, 0, 0, 0.03), 0px 65px 26px 0px rgba(0, 0, 0, 0.01), 0px 101px 28px 0px rgba(0, 0, 0, 0.00);

}